.register-step{
  margin-bottom: 10px;
}

.register-conf
{
    margin-top: 0; 
  border-radius: 5px;
  padding:30px 50px ;
}

.register-prof{
    margin-top: 0;
    box-shadow: 0px 0px 6px 1px #e6e6e6;
    border-radius: 5px;
    padding: 30px 50px;
}

.register-fav{
    margin-top: 10px;
    box-shadow: 0px 0px 6px 1px #e6e6e6;
    border-radius: 5px;
    padding: 30px 50px;
}

.form-item{
    display: flex;
    flex-direction: column;
    align-items:  flex-start; 
}

.form-item p{
  color: black;
  font-size: 1rem;
}

.form-fav-tag p{
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
}

.tag{
    margin:10px 10px 0 0;
  display: none;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 12px;
  border-radius: 8px;
  background-color: #f6f7f8;
  vertical-align: middle;
  cursor: pointer;
}

.candidate-tag-list{
  margin-top: 20px;
}

.form-cont{
  margin: 10px 15px;
  padding-bottom: 20px;
}

.conf-messege{
  font-size: 1.2rem;
  font-weight: 500;
}

.page-move{
  margin-top: 40px;
  margin-left: auto;
  padding: 0 20px;
  margin-top: 20px;
  display: flex;
  justify-content:space-between;;
}

.prof-move{
  width: 300px;
  background-color: #0097DB;
}

.tag-move{
  width: 300px;
  background-color: #009140;
}

.input-info{
    width: 100%;
    margin-top: 20px;
    padding: 5px 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #EAEAEA;
}

.introduction .input-info{
  height: 200px;
}
