/* 共通 */

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}    

body {
    margin: 0;
    background: lightgray;
    font-family: Helvetica, "游ゴシック", "Yu Gothic", sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size:0.83rem;
}

h6 {
    font-size:0.67rem;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

td {
    padding: 0;
}

input, textarea {
    border:solid 1px #aab2bd;
    border-radius: 4px;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0px;
}

.text {
    width: 30%;
    font-size: 1.5rem;
    padding: 10px 0;
    text-indent: 15px;
}

.text-big {
    width: 80%;
}

p {
    margin: 10px 0;
}

.flex {
    display: flex;
}


/* 大枠の設定 この中に要素を追加していく*/

.wrapper {
    display: flex;
    max-width: 1060px;
    width: 100%;
    padding: 0 50px;
    margin: 20px auto;
    background: white;
    flex-direction: column;
    box-shadow: 0px 0px 6px 1px #e6e6e6;
    box-sizing: border-box;
}


/* 最上部　タイトル部分 */

.top {
    width: 100%;
    background: white;
}

.top h1 {
    width: 100%;
    padding: 10px 0;
    border-bottom: 3px solid black;
}

h1.form-title{
    margin: 0;
}


/* メイン部分 */

.primary {
    display: flex;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 6px 1px #e6e6e6;
}


/* メイン部分　中 */

.inner {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 40px 0;
    background-color: white;
    flex-direction: column;
}


/* 補足部分 */

.secondary {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}


/* form-header */

/* tableの設定 */

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table_title {
    width: 20%;
    text-align: left;
    padding: 0 10px;
    vertical-align: middle;
}

.table_title p {
    font-size: 1.4rem;
}

.table_summary {
    width: 82%;
    padding: 0 10px;
    vertical-align: middle;
}

.table_summary p {
    float: left;
    font-size: 1.2rem;
    margin-right: 20px;
}

.row{
    display: flex;
    flex-direction:row;
    }

.col{
    display: flex;
    flex-direction:column;
    margin-top: 20px;
}

.button {
    border:solid 1px #aab2bd;
    border-radius: 4px;
    color: #ffffff;
}

#header {
  background-color: #187FC4;
  color: #fff;
  padding-left: 300px;
  padding-right: 300px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1;
}

#header:after {
  content: '';
  display: block;
  clear: both;
}

#header > div {
  padding: 10px;
  float: left;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
}

#header-left {
  margin-left: -300px;
  width: 300px;
  text-align: center;
}

  #logo {
    height: 100%;
    vertical-align: -webkit-baseline-middle;
    font-size: x-large;
    font-weight: bold;
  }

#header-center {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
  #header-center .form-inline {
    height: 39px;
  }

  #tag-icon {
    font-size: 24px;
    vertical-align: middle;
    margin-left: 20px;
    color: #fff;
  }

  #header-search .input, #header-search .input > input {
    position: static;
    display: inline-block;
    width: 300px;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    line-height: 26px;
    border: none;
  }

  #header-search .input > input {
    height: 33px;
    box-sizing: border-box;
  }

  #header-search button {
    padding: 8px 18px;
    margin-left: -6px;
  }

#header-right {
  margin-right: -300px;
  width: 300px;
  height: 100%;
}
  #acount .icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
  }

  #acount .icon img{
    width: 100%;
    height: 100%;
  }


  #login {
    font-size: large;
    color: #fff;
    background-color: #dd4b39;
    display: inline-block;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
  }

  #login > * {
    padding: 5px 10px;
  }

  #login > i {
    border-right: solid 1px rgba(255, 255, 255, 0.2);
  }



/* 768px以下 */

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 768px;
    }
    .field {
        width: calc(25vmin - 60px);
        height: calc(18vmin - 60px);
    }
    .table {
        width: 100%;
    }
    .table_title {
        width: 20%;
    }
}


/* 568px以下 */

@media screen and (max-width: 568px) {
    .wrapper {
        max-width: 568px;
        padding: 0 10px;
    }
    .primary {
        width: 100%;
        margin: 0;
    }
    .secondary {
        width: 100%;
        flex-direction: column;
    }
    .table {
        border-top: 1px solid #999;
    }
    .table_title {
        display: block;
        width: 100%;
        padding: 0 10px;
    }
    .table_title p {
        font-weight: 500;
    }
    .table_summary {
        display: block;
        border-top: none;
        border-bottom: none;
        width: 100%;
    }
}

@media screen and(max-width:375) {
    .wrapper {
        max-width: 375px;
    }
}

@media screen and(max-width:320px) {
    .wrapper {
        max-width: 320px;
    }
}

