
/**/
.col.my-info, .col.my-event, .col.my-prof{
  margin-top: 0; 
}

/**/
.my-page{
  margin:20px 0;   
}

.my-prof {
  display: inline-block;
}

.my-fav-tag-content, .my-prof-content {
  margin: 0 auto;
  margin-top: 20px; 
}
/**/
.my-info{
    margin-right: 20px;
    flex: 2;
}
.icon-display{
  margin-top: 10px;  
}
.introduction{
    border-radius: 5px;
    height: auto;
    padding: 5px 5px;
    background-color: #f5f5f5;
}

.account-move{
  margin-top: 20px;
  text-align: center;  
}
.account-move-button{
    border: 1px solid #DDD;
    border-radius: 5px;
    color: #FFF;
    font-size: 1rem;
    background-color: #A40035;
    padding: 10px 20px;
}

.my-fav-tag{
    margin-top: 20px;
}

.pagenav-list{
  display: flex;
}
ul.pagenav{
  margin: 0 0 10px;
  padding: 10px 10px 5px;
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
}
ul.pagenav li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}
ul.pagenav li span,
ul.pagenav li a {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 13px;
  background: #eeeff7;
  text-decoration: none;
  vertical-align: middle;
}
ul.pagenav li a:hover {
  color: #000;
  background: #ccf;
}

/**/
.my-event{
    flex: 5;
}

.event-tab-item{
  display: flex;
  justify-content: center;
  flex: 1;
  border: solid 1px lightgray;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 1px #e6e6e6;
  border-radius: 5px 5px 0 0;
}
.event-tab-item a{
  padding: 10px 20px;
}

.event-tab-item.active{
    background-color: dodgerblue;
}
a.active {
    font-weight: 400;
    color: white;
}

.event-list{
    margin: 0;    
    padding: 20px;
    
    border-radius: 0 0 5px 5px ;
    width: 100%;
    height: 100%;
}
.result-item{
  margin-top:20px;
  margin-bottom:20px;
}
.result-field{
  height: auto;
}

.name .input-info {
    font-size: 24px;
    margin-bottom: 5px;
    line-height: 24px;
}
.code .input-info {
    margin-top: 5px;
}
.code .input-info::before {
    content: '@';
}
