.pagination {
	text-align: center
}

.page-item, .pagination li{
	display: inline-block;
	border: solid 1px lightgray;
	border-radius: 5px;
	width: 32px;
	height: 32px;
}

.page-item a, .pagination a,  .pagination span{
	line-height: 32px;
}

.page-item.active, .pagination .active {
	background-color: #187FC4;
	color: #ffffff;
}