@mixin mediaSP {
    @media (max-width:568px){
         @content;
    }
}

@mixin mediaPC {
    @media (min-width:568px){
         @content;
    }
}

@mixin wrapper {    
    @include mediaPC() {
        width: 1060px;
        padding: 50px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    @include mediaSP() {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}