@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootflat/bootflat/scss/bootflat.scss";
@import "./_utiles.scss";
@import "./_values.scss";
@import "./components/_index.scss";
@import "./components/_buttons.scss";

body {
    background-color: #F1F2F6;
}

.icon {
    @include icon;
}

// colors
.red {
    background-color: #DA4453;    
}
.red.light {
    background-color: #ED5565;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}
@import "./pages/_event-detail.scss";
@import "./pages/_my-page.scss";