body {
  margin: 0;
}

.button {
  border: none;
  color: #fff;
}

a {
  text-decoration: none;
}

main {
  padding-top : 60px;
}
/********************
* form
*********************/


.form-inline {
  display: inline-block;
}

input {
  border-radius: 0;
}

input, button, textarea, select {
  margin: 0;
	padding: 0;
	/*background: none;*/
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/********************
* heading
*********************/

.heading {
  border-bottom: solid 5px #000000;
}
