body {
  margin: 0;
}

.button {
  border: none;
  color: #fff;
}

a {
  text-decoration: none;
}

main {
  padding-top : 60px;
}
/********************
* form
*********************/


.form-inline {
  display: inline-block;
}

/********************
* heading
*********************/

.heading {
  border-bottom: solid 5px #000000;
}
