/*************************
* tag
**************************/

.tag {
  display: inline-block;
  margin-right: 4px;
}

.tag i {
  color: #5E5E5E;
}

.tag a {
  color: #5E5E5E;
}

.tag a:hover + .star {
  display: inline-block;
}

.tag .star {
  display: none;
}

.tag .star:hover {
  display: inline-block;
}

.tag .fa-star {
  display: none;
  color: #F4E200;
}
